/* General Formatting */
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.main-content{
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.main-container {
  display: table;
  width: 100vh;
  height: 100vw;
}

.click:hover{
  cursor: pointer;
}
.quiet{
  display: none;
}
.animate{
  transition: all 0.3s ease;
}