#file{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0
}
#file-name{
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  word-wrap: break-word;
  min-height: 40px;
}
#editor{
  flex: 1;
  overflow: auto;
}

/*Theme fixes*/
.ql-container.ql-snow{
  border: none !important;
}
