/* General Formatting */
html{
  background: white;
}
body{
  margin: 0;
  color: rgb(80,80,80);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.main-content{
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.main-container {
  display: table;
  width: 100vw;
  height: 100vh;
}

.click:hover{
  cursor: pointer;
}
.quiet{
  display: none;
}


/*Scrollbar*/
::-webkit-scrollbar-track
{
  background: rgb(200,200,200);
  /*background-color: white;*/
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: rgb(80,80,80);
}

::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: rgb(80,80,80);
}