body{
    overflow: hidden;
}
#back{
    position: absolute;
    color: rgb(80,80,80);
    font-size: 20px;
    top:10px;
    left: 10px;
    transition: all 0.1s ease;
}
#back:hover{
    cursor: pointer;
    opacity: 0.7;
}
.feature{
    height: 100vh;
    width: 100vw;
    display: none;
    transition: all 0.3s ease;
}

/*Toolbox Buttons*/
#type-select{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}
.type-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    background: rgb(80,80,80);
    margin-right: 10px;
    margin-left: 10px;
    border:3px solid white;
    text-align: center;
    transition: all 0.3s ease;
}
.type-panel:hover{
    border:3px solid rgb(80,80,80);
    background-color: white;
}

.type-icon{
    font-weight: bold;
    font-size: 30px;
    color:white;
    transition: all 0.3s ease;
}
.type-icon-hover{
    font-size: 20px;
    color:rgb(80,80,80);
}

.type-text{
    color: rgb(80,80,80);
    opacity: 0;
    font-size: 1px;
    transition: all 0.3s ease;
}
.type-text-hover{
    opacity: 1;
    font-size: 20px;
}

/*Math*/
#math{
    height: 100%;
    width: 100%;
    padding: 10px;
    color:rgb(80,80,80);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#math-input{
    font-size: 20px;
    width: 250px;
    text-align: left;
    border: 1px solid #d10000;
}
#math-latex{
    font-size: 16px;
    word-wrap: break-word;
}
#math-insert{
    width: 70px;
    border: 2px solid rgb(80,80,80);
    color: rgb(80,80,80);
    background: white;
    padding: 5px;
    margin: 0 auto;
    transition: all 0.1s ease;
}
#math-insert:hover{
    background: rgb(80,80,80);
    color: white;
}