body{
    background: rgb(80,80,80);
    color: rgb(230,230,230) !important;
}
code{
    color: rgb(80,80,80) !important;
}

.hljs {
    color: rgb(130, 130, 130);
    background: rgb(230, 230, 230);
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

.hljs-number{
    color: #00b9b9;
}
.hljs-literal{
    color: #46acba;
}
.hljs-symbol{
    color: #00baba;
}
.hljs-bullet {
    color: #176dba;
}

.hljs-keyword{
    color: #68ba8d;
}
.hljs-selector-tag{
    color: #23b955;
}
.hljs-deletion {
    color: #9ab9aa;
}

.hljs-variable{
    color: #b824b4;
}
.hljs-template-variable{
    color: #b96149;
}
.hljs-link {
    color: #b96d47;
}

.hljs-comment{
    color: #686867;
}
.hljs-quote {
    color: #7f6f82;
}

.hljs-meta {
    color: #4f4e7a;
}

.hljs-string{
    color: #008543
}
.hljs-attribute{
    color: #4c8321;
}
.hljs-addition {
    color: #65936e;
}

.hljs-section{
    color: #195287;
}
.hljs-title{
    color: #5c832f;
}
.hljs-type {
    color: #866839;
}

.hljs-name{
    color: #7a388e;
}
.hljs-selector-id{
    color: #81633b;
}
.hljs-selector-class {
    color: #8b7340;
}

.hljs-emphasis {
    color: #81395e;
    font-style: italic;
}

.hljs-strong {
    color: #85146b;
    font-weight: bold;
}
