.hljs {
    color: rgb(230, 230, 230);
    background: rgb(130, 130, 130);
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

.hljs-number{
    color: #00dfdf;
}
.hljs-literal{
    color: #4cd9e4;
}
.hljs-symbol{
    color: #00dfdf;
}
.hljs-bullet {
    color: #1e8aef;
}

.hljs-keyword{
    color: #7bdba6;
}
.hljs-selector-tag{
    color: #2bd567;
}
.hljs-deletion {
    color: #afd3c2;
}

.hljs-variable{
    color:#f42fef;
}
.hljs-template-variable{
    color:#e6755e;
}
.hljs-link {
    color: #e18358;
}

.hljs-comment{
    color:#a0a09f;
}
.hljs-quote {
    color: #a38ea7;
}

.hljs-meta {
    color: #9f9df4;
}

.hljs-string{
    color: #00cc66
}
.hljs-attribute{
    color: #8ff83f;
}
.hljs-addition {
    color: #aefebe;
}

.hljs-section{
    color: #2782d6;
}
.hljs-title{
    color: #94d24b;
}
.hljs-type {
    color: #ffc66d;
}

.hljs-name{
    color: #be57dd;
}
.hljs-selector-id{
    color: #cd9e5e;
}
.hljs-selector-class {
    color: #e8bf6a;
}

.hljs-emphasis {
    color: #fa6eb6;
    font-style: italic;
}

.hljs-strong {
    color: #d721ae;
    font-weight: bold;
}
